@import '~/assets/css/_util.scss';
.detail {
  & > .top {
    background-color: #d4b269;
    padding: 0 20px;
  }

  & > .content {
    padding: 0 20px;

    .module {
      padding: 20px 0;

      &:nth-child(n + 2) {
        border-top: 1px solid $border-color;
      }

      .overview {
        color: #333;
        line-height: 28px;
        font-size: 14px;
      }

      .module-title {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
      }
    }
  }
}
