@import '~/assets/css/_util.scss';
.taglist {
  .item {
    display: inline-block;
    border: 1px solid $border-color;
    color: $black;
    font-size: 14px;
    line-height: 28px;
    height: 28px;
    padding: 0 14px;
    border-radius: 14px;
    margin-top: 6px;
    margin-right: 6px;

    &.active {
      border: 1px solid $active;
      color: $active;
    }
  }
}
