@import "~/assets/css/_util.scss";
.list-item {
  display: flex;
  height: 60px;
  line-height: 60px;
  color: #333;
  font-size: 16px;
  text-decoration: none;
  &:nth-child(n + 2) {
    border-top: 1px solid $border-color;
  }

  .title {
    flex: 1;
  }
  .extra {
    width: auto;
    color: $gray;
  }
  .arrow {
    width: 17px;
    margin-left: 4px;
    background: #fff url("../assets/icons/arrow-r.svg") center / contain no-repeat;
  }
}
