@import "~/assets/css/_util.scss";
.user {
  background-color: #fff;

  .top {
    background-color: #313440;
    color: #fff;
    padding: 10px 20px 30px;
  }
  .info {
    display: flex;
  }
  .avatar {
    width: 71px;
    height: 71px;
    background-color: #ccc;
    margin-right: 20px;
    border-radius: 50%;
    background-size: cover;
  }
  .detail {
    flex: 1;
    overflow: hidden;
  }
  .name {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 2px;

    @include line-ellipsis();
  }
  .user-fellow,
  .user-fans {
    font-size: 12px;
    margin-right: 30px;
  }
  .level {
    padding: 0 8px;
    margin-top: 5px;
    font-size: 12px;
    line-height: 20px;
    background-color: #5a5e78;
    border-radius: 8px;
    display: inline-block;
  }

  .content {
    padding: 0 17px;
  }
}
