.image-slider {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 100;

  .index {
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
  }

  .image-slider-wrap {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
  }

  .item {
    outline: none;
    height: 100%;
    position: relative;

    & > img {
      width: 100%;
      height: 100%;
    }
  }
}
